page-peijian-detail {
    .u-input-failureCause{
        border: none;
        float: right;
        text-align: right;
    }
    ion-footer {
        height: 48px;
        text-align: center;
        color: white;
        background: #1e70ab;
        vertical-align: middle;
        padding-top: 14px;
    }
}
