page-add-repair-report {
  div{
    display: flex;
    padding: 10px 0px ;
  }

  span{
    width: 50%;
    font-size: 1.4rem;
  }

  label{
    width: 40%;
    font-size: 1.4rem;
    margin: 0%;
    padding-left: 16px;
  }

  img{
    width: 18px;
    height: 18px;
    float: right;
  }

}
